*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/*body {
    width: 960px;
}*/

.header {
    display: flex;
    background-image: url(./images/Mask\ Group.png);
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    align-items: center;
}

.title {
    color: white;
    width: 232px;
    height: 74px;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
    margin-left: 540px;
    margin-bottom: 170px;
}

.banner {
    color: white;
    width: 365px;
    height: 117px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    background-color: #7299FE80;
    border-radius: 10px;
    padding-left: 15px;
    padding-top: 15px;
    margin-left: 250px;
    margin-top: 100px;
    margin-bottom: 110px;
}

.section1 {
    width: 100%;
    height: 424px;
    background-color: #7299FE;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me{
    color:#1D06A7;
    width: 155px;
    height: 41px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;
    margin: 30px;
}

.text-me {
    color: #F8F8F8;
    width: 90%;
    height: 166px;font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 40px;
}

.ver-cv {
    color: #FFFFFF;
    width: 187px;
    height: 62px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    background-color: #D16FFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 20px 55px;
    margin-right: 1030px;
}

.section2{
    width: 100%;
    height: 424px;
    background-color: #9122FF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-skills {
    width: 185px;
    height: 41px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;
    color: #26CC4B;
    margin: 30px;
}

.skills {
    display: flex;
    height: 70%;
    width: 90%;
    justify-content: space-evenly;
}

.skills1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    width: 50%;
}

.barra-html {
    background-color: white;
    width: 95%;
    height: 20px;
    border-radius: 10px;
    margin-top: 10px;
}

.barra-html::after {
    content: '';
    position: absolute;
    width: 35%;
    height: 20px;
    background-color: #57EFF9;
    border-radius: 20px;
}

.barra-js {
    background-color: white;
    width: 95%;
    height: 20px;
    border-radius: 10px;
    margin-top: 10px;
}

.barra-js::after {
    content: '';
    position: absolute;
    width: 25%;
    height: 20px;
    background-color: #57EFF9;
    border-radius: 20px;
}

.barra-fx {
    background-color: white;
    width: 95%;
    height: 20px;
    border-radius: 10px;
    margin-top: 10px;
}

.barra-fx::after {
    content: '';
    position: absolute;
    width: 39%;
    height: 20px;
    background-color: #57EFF9;
    border-radius: 20px;
}

.skills2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    width: 50%;
}

.barra-css {
    background-color: white;
    width: 95%;
    height: 20px;
    border-radius: 10px;
    margin-top: 10px;
}

.barra-css::after {
    content: '';
    position: absolute;
    width: 5%;
    height: 20px;
    background-color: #57EFF9;
    border-radius: 20px;
}

.barra-vue {
    background-color: white;
    width: 95%;
    height: 20px;
    border-radius: 10px;
    margin-top: 10px;
}

.barra-vue::after {
    content: '';
    position: absolute;
    width: 35%;
    height: 20px;
    background-color: #57EFF9;
    border-radius: 20px;
}

.barra-grid {
    background-color: white;
    width: 95%;
    height: 20px;
    border-radius: 10px;
    margin-top: 10px;
}

.barra-grid::after {
    content: '';
    position: absolute;
    width: 19%;
    height: 20px;
    background-color: #57EFF9;
    border-radius: 20px;
}